.movie-list-container{
    background-color: #111111;
    color: rgba(214, 209, 209, 0.89);
    width: 100%;
    height: 100%;
    text-wrap: nowrap;
    
    

}

     .headingH2{
        padding: 10px 20px;
        width: 20%;
        color: #d6cccca4;
        /* border: 1px solid lightgray; */
    }
.movie-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    /* position: relative; */

    & img{
        height: 40vh;
        width: 100%;
        filter: brightness(36%);
        border-radius: 10px;
        cursor: pointer;
    }
}
.movie-card{
    position: relative;
}
.data{
    /* background-color: red; */
    font-size: 10px;
    
     position: absolute;
    bottom: 0; 
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    

    & .genre{
        /* color: blue; */
        display: flex;
        align-items: self-end;
    }
}
.u{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
}
.d{
    margin-left: 6px    ;
}

.dta{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
